
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    body {
        background-image: url('../../Content/Image/BackGround/Grey-Abstract-Wallpaper-16-1920x1080.jpg');
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <link href="~/Content/Image/BackGround/Color-PNG-Clipart.png" type="image/x-icon" rel="icon">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("login", required: false)
</body>
</html>
