
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<DoAn_TMDT.Models.CartItem>
<section class="breadcrumb-section set-bg" data-setbg="/Content/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Billing Details</h4>
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Fist Name<span>*</span></p>
                                    <input type="text" id="fistname">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Last Name<span>*</span></p>
                                    <input type="text" id="lastname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="checkout__input">
                                    <p>Address<span>*</span></p>
                                    <input type="text" id="street" placeholder="Street Address" class="checkout__input__add">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="checkout__input">
                                    <p>District<span>*</span></p>
                                    <select id="quan" onchange="quan()" class="checkout__input__add">
                                        @{
                                            ActionDB.Code code = new ActionDB.Code();
                                            List<Library.AddressOrder> address = code.GetAddressOrders();
                                            foreach (Library.AddressOrder item in address)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="checkout__input">
                                    <p>City<span>*</span></p>
                                    <select id="city" class="checkout__input__add">
                                        <option value="TP HCM">Thành phố Hồ Chí Minh</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="checkout__input">
                            <p>Phone<span>*</span></p>
                            <input type="number" id="phone">
                        </div>
                        <div class="checkout__input">
                            <p>Order notes<span>*</span></p>
                            <input type="text"
                                  id="note" placeholder="Notes about your order, e.g. special notes for delivery.">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Products <span>Total</span></div>
                            <ul>
                                @{
                                    foreach (DoAn_TMDT.Models.CartItem item in Model)
                                    {
                                        <li>@item.TenSanPham <span>@item.ThanhTien.ToString("#,##0").Replace(",", ".") VNĐ</span></li>
                                    }
                                }
                            </ul>
                            <div class="checkout__order__subtotal">Subtotal <span>@Model.Sum(m => m.ThanhTien).ToString("#,##0").Replace(",", ".") VNĐ</span></div>
                            @{
                                    <div class="checkout__order__total">Fee Ship <span id="fee"></span></div>
                                    <div class="checkout__order__total">Total <span id="total">@((Model.Sum(m => m.ThanhTien)).ToString("#,##0").Replace(",", ".")) VNĐ</span></div>
                                
                            }
                            <div class="checkout__order__total">Payment methods
                                <span>
                                    <select id="method">
                                        <option value="direct">Direct</option>
                                        <option value="card">Bank Card</option>
                                    </select>
                                </span>
                            </div>
                            <button type="submit" id="pay" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div id="img_pay"></div>
</section>
@section animation{
    <script>
        function quan() {
            var quan = $("#quan").val();
            var form = new FormData();
            form.append("quan", quan);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Home/Fee", true);
            xhr.onreadystatechange = function () {
                if (xhr.status == 200 && xhr.readyState == 4) {
                    var js = JSON.parse(xhr.responseText);
                    $("#fee").html(js.Data.fee);
                    $("#total").html(js.Data.total);
                }
            }
            xhr.send(form);
        }
        $("#pay").click(function () {
            var fistname = $("#fistname").val();
            var lastname = $("#lastname").val();
            var street = $("#street").val();
            var quan = $("#quan").val();
            var city = $("#city").val();
            var phone = $("#phone").val();
            var note = $("#note").val();
            var method = $("#method").val();
            if (fistname == "" || lastname == "" || street == "" || quan == "" || city == "" || phone == "" ) {
                alert("Vui lòng điền thông tin");
            } else {
                if (method == "card") {
                    $("#img_pay").html("<img src='/Content/img/QR/10.jpg'/>");
                } else if (method == "direct") {
                    var form = new FormData();
                    form.append("fistname", fistname);
                    form.append("lastname", lastname);
                    form.append("street", street);
                    form.append("quan", quan);
                    form.append("city", city);
                    form.append("phone", phone);
                    form.append("note", note);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/Home/Order", true);
                    xhr.onreadystatechange = function () {
                        if (xhr.status == 200 && xhr.readyState == 4) {
                            var js = JSON.parse(xhr.responseText);
                            if (js.Data.status == "OK") {
                                alert("Đặt hàng thành công!!!");
                                location.reload();
                            } else if (js.Data.status == "Full") {
                                alert("Trong giỏ hàng có sự thay đổi!!!");
                                location.reload();
                            } else {
                                alert("Đặt hàng thật bại!!!");
                            }
                        }
                    }
                    xhr.send(form);
                } else {
                    alert("Không có phương thức thanh toán này");
                }
            }
        });
        var body = $("html, body");
        body.animate({ scrollTop: 738 });
    </script>
}
