
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Library.PayOrder>
<section class="breadcrumb-section set-bg" data-setbg="/Content/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>History</h2>
                    <div class="breadcrumb__option">
                        <a href="/Home/Index">Home</a>
                        <span>History</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Đã đặt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Đang xử lý</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Đang giao</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab"
                               aria-selected="false">Đã nhận hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab"
                               aria-selected="false">Đã hủy</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h3 align="center"><strong>Đã đặt</strong></h3>
                                @{
                                    if (Model == null || Model.Count() == 0)
                                    {
                                        <h4 align="center">Your Order is empty</h4>
                                    }
                                    else
                                    {
                                        <div class="shoping__cart__table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="shoping__product">ID</th>
                                                        <th>Reciever</th>
                                                        <th>Address</th>
                                                        <th>Phone</th>
                                                        <th>Date Order</th>
                                                        <th>Total</th>
                                                        <th>Status</th>
                                                        <th>StatusPay</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int dem = 0;
                                                        foreach (Library.PayOrder item in Model.Where(m=>m.Status=="Đã đặt").ToList())
                                                        {
                                                            dem++;
                                                            <tr>
                                                                <th class="shoping__cart__quantity">
                                                                    <h5><a href="/Home/InforOrder/@item.IDP">@dem</a></h5>
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Receiver
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Address
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Phone
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.DateOrder
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @int.Parse(item.Total).ToString("#,##0").Replace(",", ".") VNĐ
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Status
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.StatusPay
                                                                </th>
                                                                @if (item.Status != "Đã nhận hàng" || item.Status != "Đang giao" || item.Status != "Hủy")
                                                                {
                                                                    <th><a class="btn-danger btn" href="javascript: Canceldh('@item.IDP')">Hủy</a></th>
                                                                }
                                                                else
                                                                {
                                                                    <th></th>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h3 align="center"><strong>Đã xử lý</strong></h3>
                                @{
                                    if (Model == null || Model.Count() == 0)
                                    {
                                        <h4 align="center">Your Order is empty</h4>
                                    }
                                    else
                                    {
                                        <div class="shoping__cart__table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="shoping__product">ID</th>
                                                        <th>Reciever</th>
                                                        <th>Address</th>
                                                        <th>Phone</th>
                                                        <th>Date Order</th>
                                                        <th>Total</th>
                                                        <th>Status</th>
                                                        <th>StatusPay</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int dem = 0;
                                                        foreach (Library.PayOrder item in Model.Where(m => m.Status == "Đang xử lý").ToList())
                                                        {
                                                            dem++;
                                                            <tr>
                                                                <th class="shoping__cart__quantity">
                                                                    <h5><a href="/Home/InforOrder/@item.IDP">@dem</a></h5>
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Receiver
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Address
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Phone
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.DateOrder
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @int.Parse(item.Total).ToString("#,##0").Replace(",", ".") VNĐ
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Status
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.StatusPay
                                                                </th>
                                                                @if (item.Status != "Đã nhận hàng" || item.Status != "Đang giao" || item.Status != "Hủy")
                                                                {
                                                                    <th><a class="btn-danger btn" href="javascript: Canceldh('@item.IDP')">Hủy</a></th>
                                                                }
                                                                else
                                                                {
                                                                    <th></th>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h3 align="center"><strong>Đang giao hàng</strong></h3>
                                @{
                                    if (Model == null || Model.Count() == 0)
                                    {
                                        <h4 align="center">Your Order is empty</h4>
                                    }
                                    else
                                    {
                                        <div class="shoping__cart__table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="shoping__product">ID</th>
                                                        <th>Reciever</th>
                                                        <th>Address</th>
                                                        <th>Phone</th>
                                                        <th>Date Order</th>
                                                        <th>Total</th>
                                                        <th>Status</th>
                                                        <th>StatusPay</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int dem = 0;
                                                        foreach (Library.PayOrder item in Model.Where(m => m.Status == "Đang giao").ToList())
                                                        {
                                                            dem++;
                                                            <tr>
                                                                <th class="shoping__cart__quantity">
                                                                    <h5><a href="/Home/InforOrder/@item.IDP">@dem</a></h5>
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Receiver
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Address
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Phone
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.DateOrder
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @int.Parse(item.Total).ToString("#,##0").Replace(",", ".") VNĐ
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Status
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.StatusPay
                                                                </th>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h3 align="center"><strong>Đã nhận hàng</strong></h3>
                                @{
                                    if (Model == null || Model.Count() == 0)
                                    {
                                        <h4 align="center">Your Order is empty</h4>
                                    }
                                    else
                                    {
                                        <div class="shoping__cart__table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="shoping__product">ID</th>
                                                        <th>Reciever</th>
                                                        <th>Address</th>
                                                        <th>Phone</th>
                                                        <th>Date Order</th>
                                                        <th>Total</th>
                                                        <th>Status</th>
                                                        <th>StatusPay</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int dem = 0;
                                                        foreach (Library.PayOrder item in Model.Where(m => m.Status == "Đã nhận hàng").ToList())
                                                        {
                                                            dem++;
                                                            <tr>
                                                                <th class="shoping__cart__quantity">
                                                                    <h5><a href="/Home/InforOrder/@item.IDP">@dem</a></h5>
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Receiver
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Address
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Phone
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.DateOrder
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @int.Parse(item.Total).ToString("#,##0").Replace(",", ".") VNĐ
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Status
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.StatusPay
                                                                </th>
                                                                <th><a class="btn btn-danger">Báo cáo</a></th>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-5" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h3 align="center"><strong>Đơn đã hủy</strong></h3>
                                @{
                                    if (Model == null || Model.Count() == 0)
                                    {
                                        <h4 align="center">Your Order is empty</h4>
                                    }
                                    else
                                    {
                                        <div class="shoping__cart__table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="shoping__product">ID</th>
                                                        <th>Reciever</th>
                                                        <th>Address</th>
                                                        <th>Phone</th>
                                                        <th>Date Order</th>
                                                        <th>Total</th>
                                                        <th>Status</th>
                                                        <th>StatusPay</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int dem = 0;
                                                        foreach (Library.PayOrder item in Model.Where(m => m.Status == "Hủy").ToList())
                                                        {
                                                            dem++;
                                                            <tr id="donhang_@item.IDP">
                                                                <th class="shoping__cart__quantity">
                                                                    <h5><a href="/Home/InforOrder/@item.IDP">@dem</a></h5>
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Receiver
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Address
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Phone
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.DateOrder
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @int.Parse(item.Total).ToString("#,##0").Replace(",", ".") VNĐ
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.Status
                                                                </th>
                                                                <th class="shoping__cart__item">
                                                                    @item.StatusPay
                                                                </th>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section huydonhang{
    <script>
        function Canceldh(id) {
            if (confirm("Bạn có muốn hủy đơn hàng?")) {
                var lydo = prompt("Lý do?");
                if (lydo != "") {
                    var form = new FormData();
                    form.append("idp", id);
                    form.append("lydo", lydo);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/Home/RemoveOrder", true);
                    xhr.onreadystatechange = function () {
                        if (xhr.status == 200 && xhr.readyState == 4) {
                            var json = JSON.parse(xhr.responseText);
                            if (json.Data.status == "OK") {
                                alert("Delete Success");
                                location.reload();
                            }
                            else {
                                alert("Delete Fail");
                            }
                        }
                    }
                    xhr.send(form);
                } else {
                    alert("Bạn không có lý do để hủy");
                }
            }
        }
        function Report(id) {
            if (confirm("Bạn có muốn báo cáo đơn hàng?")) {
                var lydo = prompt("Lý do?");
                if (lydo != "") {
                    var form = new FormData();
                    form.append("idp", id);
                    form.append("lydo", lydo);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/Home/ReportOrder", true);
                    xhr.onreadystatechange = function () {
                        if (xhr.status == 200 && xhr.readyState == 4) {
                            var json = JSON.parse(xhr.responseText);
                            if (json.Data.status == "OK") {
                                alert("Report Success");
                            }
                            else {
                                alert("Report Fail");
                            }
                        }
                    }
                    xhr.send(form);
                } else {
                    alert("Bạn không có lý do để hủy");
                }
            }
        }
        var body = $("html, body");
        body.animate({ scrollTop: 738 });
    </script>
}
